<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenjoy.modules.forum.mapper.UserFavoriteMapper">
  <resultMap id="BaseResultMap" type="com.lenjoy.modules.forum.entity.UserFavorite">
    <!--@mbg.generated -->
    <!--@Table user_favorite -->
    <!-- generated on Sat Sep 17 13:24:20 CST 2022 -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="entityType" jdbcType="VARCHAR" property="entitytype" />
    <result column="entityId" jdbcType="VARCHAR" property="entityid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated -->
    id, userId, entityType, entityId, `status`, create_at, update_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated -->
    select 
    <include refid="Base_Column_List" />
    from user_favorite
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated -->
    delete from user_favorite
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lenjoy.modules.forum.entity.UserFavorite" useGeneratedKeys="true">
    <!--@mbg.generated -->
    insert into user_favorite (userId, entityType, entityId, 
      `status`, create_at, update_at
      )
    values (#{userid,jdbcType=VARCHAR}, #{entitytype,jdbcType=VARCHAR}, #{entityid,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lenjoy.modules.forum.entity.UserFavorite" useGeneratedKeys="true">
    <!--@mbg.generated -->
    insert into user_favorite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="entitytype != null">
        entityType,
      </if>
      <if test="entityid != null">
        entityId,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="entitytype != null">
        #{entitytype,jdbcType=VARCHAR},
      </if>
      <if test="entityid != null">
        #{entityid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenjoy.modules.forum.entity.UserFavorite">
    <!--@mbg.generated -->
    update user_favorite
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="entitytype != null">
        entityType = #{entitytype,jdbcType=VARCHAR},
      </if>
      <if test="entityid != null">
        entityId = #{entityid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenjoy.modules.forum.entity.UserFavorite">
    <!--@mbg.generated -->
    update user_favorite
    set userId = #{userid,jdbcType=VARCHAR},
      entityType = #{entitytype,jdbcType=VARCHAR},
      entityId = #{entityid,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>